@import url('https://fonts.googleapis.com/css?family=Raleway');

//colors
$background-color: #fff;
$menu-color: #f5f7fb;
$button-green: #4cb248;
$button-red: #ff4c4c;

//margins
$segment-margin: 1em 0;
$button-margin: 1rem;

//fonts
$header-font: 'Raleway'
