<div class="ui attached stackable borderless menu">
  <a class="item" routerLink="/">
    <i class="home icon"></i> HOME
  </a>
  <a class="item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> Lists
  </a>
  <a class="item" (click)="onAddTodoList()">
    <i class="plus icon"></i>Add List
  </a>
  <a class="item" routerLinkActive="active" routerLink="/completed">
    View Completed
  </a>
  <div class="vertically fitted item" *ngIf="isViewingCompleted">
    <div class="ui search">
      <div class="ui small icon input">
        <input type="text" placeholder="Search..." [(ngModel)]="searchField" (ngModelChange)="onFilterChange()">
        <i class="search icon"></i>
      </div>
      <div class="results transition" [ngClass]="{'visible' : filteredOptions.length > 0}">
        <span *ngFor="let title of filteredOptions" class="item result" (click)="onFilterSelect(title)">{{title}}</span>
      </div>
    </div>
    <!-- <sui-search class="ui search active"
            [options]="options"
            [searchDelay]="0"
            ></sui-search> -->
  </div>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="vertical" #sidebar (click)="sidebar.close()" direction="left">
    <app-todo-lists></app-todo-lists>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <div class="ui hidden divider"></div>
    <router-outlet></router-outlet>
  </sui-sidebar-sibling>
</sui-sidebar-container>