<div class="ui dimmer modals page active">
    <div class="ui basic modal active">
      <div class="ui icon header">
        <i class="trash icon"></i>
        Delete List
      </div>
      <div class="content" style="text-align:center">
        <p>Are you sure you want to delete {{list.title}}?</p>
      </div>
      <div class="actions" style="text-align:center">
        <div class="ui green ok inverted button" (click)="onDelete()">
          <i class="checkmark icon"></i>
          Yes
        </div>
        <div class="ui red basic cancel inverted button" (click)="onRemoveModal()">
          <i class="remove icon"></i>
          No
        </div>
      </div>
    </div>
  </div>