<div class="ui dimmer modals page" [ngClass]="{'active': isActive}">
  <div class="ui modal" [ngClass]="{'active': isActive}">
    <div class="header">{{editMode ? 'Update' : 'Add'}} todo</div>
    <div class="content">
      <form class="ui form" (ngSubmit)="modifyTodo(f)" #f="ngForm">
        <div class="required field">
          <label>Title</label>
          <input type="text" name="title" id="title" ngModel required>
        </div>
        <div class="required field">
          <label>Due Date</label>
          <div class="ui left icon input">
            <i class="calendar icon"></i>
            <input suiDatepicker name="dueDate" id="dueDate" [placeholder]="today | date" [(ngModel)]="date" pickerMode="date" [pickerMinDate]="yesterday"
              ngModel required>
          </div>
        </div>
        <div class="field">
          <label>Content</label>
          <textarea rows="2" ngModel name="content" id="content"></textarea>
        </div>
        <div class="actions">
          <button class="ui green button" type="submit" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
          <button class="ui red button" type="button" (click)="onRemoveModal();">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>